#coas_reports_dropdown {
	color: rgb(255, 255, 255);
    background-color: rgb(135, 90, 123);
    border-color: rgb(135, 90, 123);
}

#coas_reports_dropdown > li > a{
	color: rgb(255, 255, 255);
}

.divider {
	border: 1px solid rgb(255, 255, 255);
}

