.contenedor.contenedor_1,
.contenedor.contenedor_2,
.contenedor.contenedor_3,
.contenedor.contenedor_4 {
    display: -webkit-box;
    padding: 10px;
    text-align: left;
    border-collapse: collapse;

    & * {
        margin: 100px;
        padding: 0;
        box-sizing: border-box;
    }
}

.contenedor {
    width: 800px;
    display: -webkit-box;
    -webkit-box-pack: justify;
    margin-bottom: 12px;
}

.contenedor>div:first-child {
    -webkit-box-flex: 9;
    margin-right: 5%;
}

.contenedor>div:last-child {
    -webkit-box-flex: 4;
}

.contenedor label {
    font-size: 11px;
    font-weight: bold;
    white-space: nowrap;
}

.contenedor span {
    font-size: 11px;
    color: #333;
}

.contenedor.contenedor_1 td {
    padding: 0 12px;
    text-align: left;
}