language: python

python:
  - "2.7"

sudo: false
cache: pip

addons:
  apt:
    packages:
      - expect-dev  # provides unbuffer utility
      - python-lxml  # because pip installation is slow
      - python-unidecode
      - antiword  # document module
      #- cups
      #- libcups2-dev

env:
  global:
  - VERSION="8.0" TESTS="0" LINT_CHECK="0"
  matrix:
  - LINT_CHECK="1"
  - TESTS="1" ODOO_REPO="odoo/odoo" EXCLUDE="website_sale_ext,stock_orderpoint_rule,crm_claim_phonecall,stock_information,stock_information_mrp,stock_information_mrp_procurement_plan,stock_information_sale_forecast,email_template_cron"
  - TESTS="1" ODOO_REPO="OCA/OCB" EXCLUDE="website_sale_ext,stock_orderpoint_rule,crm_claim_phonecall,stock_information,stock_information_mrp,stock_information_mrp_procurement_plan,stock_information_sale_forecast,email_template_cron"
  - TESTS="1" ODOO_REPO="odoo/odoo" INCLUDE="stock_information,stock_information_mrp,stock_information_mrp_procurement_plan,stock_information_sale_forecast"
  - TESTS="1" ODOO_REPO="OCA/OCB" INCLUDE="stock_information,stock_information_mrp,stock_information_mrp_procurement_plan,stock_information_sale_forecast"



virtualenv:
  system_site_packages: true

install:
  - git clone --depth=1 https://github.com/OCA/maintainer-quality-tools.git ${HOME}/maintainer-quality-tools
  - export PATH=${HOME}/maintainer-quality-tools/travis:${PATH}
  - travis_install_nightly
  #- pip install pycups==1.9.66

script:
  - travis_wait travis_run_tests

after_success:
  - travis_after_tests_success
