.hr {
  font-size: 12px;
  margin-bottom:0px;
}

.hr > thead > tr > th,
.hr > tbody > tr > th,
.hr > thead > tr > td,
.hr > tbody > tr > td {
  border: 1px solid #000;
}

.hr > thead > tr > td,
.hr > tbody > tr > td {
  padding: 2px;
}
