.o_background_footer,
.o_background_header,
.o_report_layout_background {
  font-family: "Open Sans", "Helvetica", Sans;
  color: black;
}
.o_background_header {
  min-width: 900px;
  border-bottom: 1px solid gray("200");
  img {
    max-height: 96px;
    max-width: 200px;
    margin-right: 16px;
  }
  h3 {
    color: $o-brand-odoo;
    font-weight: 700;
    font-size: 1.25rem;
    max-width: 300px;
  }
}
.o_background_footer {
  .list-inline-item {
    white-space: nowrap;
  }
  ul {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 4px 0;
    margin: 0 0 4px 0;
    li {
      color: black;
    }
  }
}
.o_report_layout_background {
  background-image: url(/aaa/bg_background_template.jpg);
  background-size: cover;
  background-position: bottom center;
  background-repeat: no-repeat;
  min-height: 620px;

  .table {
    border-top: 1px solid black !important;
  }

  .table td,
  .table th {
    border-top: none;
  }
  thead tr th,
  h2 {
    color: black;
  }
  tbody {
    color: black;
    tr {
      &:nth-child(odd) {
        background-color: rgba(220, 205, 216, 0.2);
      }
      &.o_line_section {
        color: black;
        background-color: rgba(73, 80, 87, 0.2) !important;
      }
    }
  }
  /*Total table*/
  /* row div rule compat 12.0 */
  .row > div > table,
  div#total table {
    tr {
      &:nth-child(odd) {
        background-color: transparent !important;
      }
      /* first-child & last-child rule compat 12.0 */
      &:first-child,
      &:last-child,
      &.o_subtotal,
      &.o_total {
        border-top: none !important;
        td {
          color: black;
          border-top: 1px solid black !important;
        }
      }
    }
  }
}

/* special case for displaying report in iframe */
.o_in_iframe {
  .o_background_header {
    min-width: 0;
  }
}
