.blog_post_img{
    text-align: right;
    max-width: 70%;
}
.blog_post{
    margin: 10px;
}
.blog_post_outside{
    border: none !important;
}
.blog_card{
    background-color: cornsilk;
    margin-bottom: 23px;
    padding: 15px;
}
