#portal_order_filter_date_from, #portal_order_filter_date_to {
    width: 66%;
    height: 26px;
    /* font-size: 5px; */
    font-size: 80%;
    font-weight: 400;
}

.menu-scroll {
  overflow-y: scroll;
  max-height: 300px;
}
