
#weight_table, .weight_table{
    th, td, input{
        text-align: center;
    }
    border: 1px solid #cccccc;
    tbody{
        tr {
            border-bottom: 1px solid black !important;
        }
        th, td {
            padding: 2px;
            border-left: 1px solid black !important;
        }
    }
}
.td_saca_form{
    border: 1px solid #595959;
    width: 40%;
}
