#ref_content > div:nth-child(2) > div p{
	margin: 0;
}
#ref_content > div:nth-child(2) > div > div > a > img {
	width: 100%;
    height: 100%;
    border-radius: 50%;
}
#membership_details_product_table > thead > tr > th {
	text-align: center;
}
#membership_details_product_table > tbody > tr > td {
	vertical-align: middle;
	padding: unset;
	text-align: center;
}
#membership_details_product_table > tbody > tr > td > form > button {
	color: #FFFFFF;
    background-color: #875A7B;
    border-color: #875A7B;
    border: 1px solid transparent;
}
#membership_details_product_table > tbody > tr > td > form > button:hover {
	color: #FFFFFF;
    background-color: #68465f;
    border-color: #68465f;
    border: 1px solid transparent;
    cursor: pointer;
}
#membership_details_product_table > tbody > tr > td > div > div > div > a {
	scroll-behavior: unset !important;
}
#membership_details_product_table > thead > tr > th {
	border: 0;
}
.css_quantity {
	display: inline-flex;
}
div.css_quantity.input-group.mx-auto > input {
	width: 50px;
}
