#wrapwrap > main > xpath > div.container.p-3.my-3.bg-success.text-white, #wrapwrap > main > xpath > div.container.p-3.my-3.bg-danger.text-white {
	display: flex;
    justify-content: center;
    align-items: center;
}
#wrap > div.container.mt-2 > div > div.col-lg-8 > div:nth-child(2) > form > div.form-group.row.form-field.o_website_form_required {
	margin-top: 6em;
}
#wrap > div.container.mt-2 > div > div.col-lg-8 > div:nth-child(2) > form > h3:nth-child(9), #wrap > div.container.mt-2 > div > div.col-lg-8 > div:nth-child(2) > form > h3:nth-child(17) {
	margin-top: 3em;
}