/* ____________________________________________________________________________________________________________________________________________________ COMMON ELEMENTS */

.lft { float: left; }
.rgt { float: right; }
.clear { clear: both; }
.column163 { width: 163px; margin: 0 0 10px 0; }
.column200 { width: 225px; margin: 0 0 0 30px; }
.column350 { width: 350px; height: 110px; margin: 0; overflow: hidden; }
.column460 { width: 460px; margin: 0; }

.transition { -webkit-transition: all 0.4s ease-out; -moz-transition: all 0.4s ease-out; -o-transition: all 0.4s ease-out; transition: all 0.4s ease-out; }
.br { border-right: 1px dotted #cccccc; }
.bb { border-bottom: 1px dotted #cccccc; }

/* ____________________________________________________________________________________________________________________________________________________ HEADER */

/* .header { position: fixed; top: 0px; left: 0px; width: 100%; height: 84px; background: #ffffff; border-bottom: 1px solid #dedede; z-index: 1000; } */
/* .header li { display: inline; font-family: 'Titillium Web', sans-serif; } */

/* .nav { margin: 27px 0 0 0; padding: 0; } */
/* .nav a { margin: 0 35px 0 0; font-size: 18px; font-weight: 200; } */
/* .nav a:hover { color: #16bce0; } */

/* .social { margin: 23px 0 0 0; padding: 0; } */
/* .social a { display: block; margin: 0 0 0 5px; width: 37px; height: 37px; text-indent: -9999px; background-color: #c8c8c8; border-radius: 37px; background-position: 0px 0px; } */
/* .social a:hover { background-position: 0px -37px; } */
/* a.blg { background-image: url(../px/a-blog.png); } */
/* a.blg:hover { background-color: #e07a16; } */
/* a.twr { background-image: url(../px/a-twitter.png); } */
/* a.twr:hover { background-color: #16bce0; } */
/* a.ytb { background-image: url(../px/a-youtube.png); } */
/* a.ytb:hover { background-color: #c60c0c; } */

/* ____________________________________________________________________________________________________________________________________________________ TEASER */

/* .teaser { height: 450px; background: url(../px/teaser.jpg) #000000; } */
/* .teaserbg { height: 450px; background: url(../px/teaser1.png) top left no-repeat, url(../px/teaser2.png) bottom right no-repeat; } */
/* #images { height: 450px; overflow: hidden; font-family: 'Titillium Web', sans-serif; font-size: 36px; font-weight: 200; color: #ffffff; } */
/* #images span { font-weight: 600; } */

/* #imac { float: left; margin: -422px 0 0 0; } */
/* #tubes { float: right; margin: 218px 0 0 0; opacity: 0; } */
/* #lines { float: left; margin: -340px 0 0 220px; opacity: 0; } */
/* #text1 { float: left; margin: -430px 0 0 260px; opacity: 0; } */

/* .image { width: 980px; height: 450px; display: none; } */
/* #image2 { background: url(../px/header/i2-smoke.png) 140px 120px no-repeat; } */
/* #i2-clock { float: right; margin: 30px 180px 0 0; } */
/* #text2 { float: left; margin: 150px 0 0 0; } */

/* #i3-guy { float: left; margin: 25px 0 0 0; } */
/* #i3-sheets { float: right; margin: 135px 65px 0 0; } */
/* #i3-lines { float: left; margin: -290px 0 0 295px; } */
/* #text3 { float: right; margin: -420px 90px 0 0; } */

/* #i4-imac { float: left; margin: 10px 0 0 0; } */
/* #i4-coins { float: right; margin: 186px 80px 0 0; } */
/* #i4-mouse { float: left; margin: -41px 0 0 300px; } */
/* #text4 { float: right; margin: -400px 60px 0 0; } */

/* #i5-package { float: left; margin: 20px 0 0 0; } */
/* #text5 { float: right; margin: 170px 150px 0 0; } */

/* .arrow { display: block; position: absolute; top: 274px; width: 50px; height: 50px; opacity: .4; border-radius: 50px; } */
/* .next { right: 10px; background: url(../px/next.png) center center no-repeat #000000; } */
/* .prev { left: 10px; background: url(../px/prev.png) center center no-repeat #000000; } */
/* .arrow:hover { opacity: .8; } */

/* ____________________________________________________________________________________________________________________________________________________ CONTENT */

/* .content { background: url(../px/shadow.png) top center no-repeat; } */
.grey { background: #f3f3f3; }
.darkgrey { padding: 10px 0 0 0; color: #606060; background: url(../img/shadow.png) top center no-repeat #cccccc; }
#modules { padding: 0; width: 980px; margin: 0 auto; }
.modules { height: 460px; background: url(../img/modules.png) top center no-repeat; }
.modules h4 { font-family: 'Titillium Web', sans-serif; font-size: 18px; font-weight: 200; margin: 0 0 10px 0; padding: 0; color: #333333; text-align: center; }

/* .video { width: 492px; height: 277px; padding: 10px; margin: 25px 0 20px 0; border-radius: 5px; box-shadow: inset 5px 5px 8px #dedede; } */
/* .title { width: 445px; margin: 15px 0 0 0; } */
/* .title h2 span { font-weight: 600; } */
/* .demoform { height: 221px; margin: 0; overflow: hidden; } */
/* .demo { height: 442px; margin: 0; background: url(../px/demo.jpg) top left no-repeat; } */
/* .demo label { clear: both; float: left; width: 80px; padding: 7px 0 14px 0; } */
/* .demo input[type="text"] { border: 1px solid #cccccc; padding: 7px 5px; width: 353px; float: left; font-size: 14px; color: #666666; border-radius: 3px; } */
/* .send { padding: 5px 20px; font-family: 'Titillium Web', sans-serif; text-transform: uppercase; margin: 0 0 0 80px; font-weight: 200; color: #ffffff; background: #16bce0; border: 0; font-size: 14px; border-radius: 3px; } */

/* #demo { */
/* 	display: block; */
/* 	width: 150px; */
/* 	margin: 140px 0 30px 0; */
/* 	padding: 10px 0 10px 50px; */
/* 	color: #ffffff; */
/* 	font-size: 22px; */
/* 	font-family: 'Titillium Web', sans-serif; */
/* 	font-weight: 200; */
/* 	background-image: url(../px/a-demo.png); */
/* 	background-position: 13px 9px; */
/* 	background-repeat: no-repeat; */
/* 	background-color: #16bce0; */
/* 	text-transform: uppercase; */
/* 	border-radius: 5px; */
/* } */

/* #demo:hover, .send:hover { background-color: #1b97b2; } */
/* #back { opacity: .4; } */
/* #back:hover { opacity: 1; } */
/* p.small { font-size: 9px; color: #bbbbbb; margin: 0; } */

#advantages { margin: 0 auto; }
.item1 { width: 190px; text-align: center; padding: 115px 0 20px 0; margin: 0; background-position: top center; background-repeat: no-repeat; background-image: url(../img/item1.png); }
.item2 { width: 190px; text-align: center; padding: 115px 0 20px 0; margin: 0; background-position: top center; background-repeat: no-repeat; background-image: url(../img/item2.png); }
.item3 { width: 190px; text-align: center; padding: 115px 0 20px 0; margin: 0; background-position: top center; background-repeat: no-repeat; background-image: url(../img/item3.png); }
.item4 { width: 190px; text-align: center; padding: 115px 0 20px 0; margin: 0; background-position: top center; background-repeat: no-repeat; background-image: url(../img/item4.png); }
.item5 { width: 190px; text-align: center; padding: 115px 0 20px 0; margin: 0; background-position: top center; background-repeat: no-repeat; background-image: url(../img/item5.png); }
.item6 { width: 190px; text-align: center; padding: 115px 0 20px 0; margin: 0; background-position: top center; background-repeat: no-repeat; background-image: url(../img/item6.png); }

a.circle { display: block; width: 40px; height: 40px; border-radius: 40px; margin: 0 0 3px 157px; background-color: #c8c8c8; border-radius: 37px; background-position: 0px 0px; }
a.blue:hover { background-color: #16bce0; }
a.red:hover { background-color: #c60c0c; }
a.orange:hover { background-color: #e07a16; }
a.yellow:hover { background-color: #fec81a; }
a.green:hover { background-color: #8dd533; }
a.turquoise:hover { background-color: #3bccb2; }
a.pink:hover { background-color: #cc3bc7; }
a.lightgreen:hover { background-color: #bdcc3b; }

.module1 { background: url(../img/module1.png) center center no-repeat; }
.module2 { background: url(../img/module2.png) center center no-repeat; }
.module3 { background: url(../img/module3.png) center center no-repeat; }
.module4 { background: url(../img/module4.png) center center no-repeat; }
.module5 { background: url(../img/module5.png) center center no-repeat; }
.module6 { background: url(../img/module6.png) center center no-repeat; }
.module7 { background: url(../img/module7.png) center center no-repeat; }
.module8 { background: url(../img/module8.png) center center no-repeat; }

.column350 p, .column163 p { display: none; }
.column163 h5 { cursor: pointer; background: #ffffff; text-align: center; }
.exp { position: absolute; display: none; width: 328px; padding: 10px; text-align: center; border: 1px dotted #cccccc; background: #ffffff; }

/* ____________________________________________________________________________________________________________________________________________________ CONTACT */

.darkgrey h5 { font-weight: 600; text-transform: uppercase; text-align: left; }
.darkgrey label { clear: both; width: 100px; float: left; margin: 0; padding: 7px 0; }
.darkgrey input[type="text"] { border: 0; padding: 7px 5px; margin: 0 0 5px 0; width: 340px; float: left; font-size: 14px; color: #666666; background: #dedede; border-radius: 3px; }
.darkgrey textarea { border: 0; padding: 7px 5px; margin: 0 0 5px 0; width: 340px; height: 80px; float: left; font-size: 14px; color: #666666; background: #dedede; border-radius: 3px; }
.darkgrey .send { background-color: #1b97b2; margin: 0 0 0 100px; }
.darkgrey ul { margin: 0; padding: 0; }
.darkgrey li { margin: 0; padding: 8px 0; border-bottom: 1px dotted #999999; }
.darkgrey li a { color: #606060; }
.darkgrey li a:hover { color: #000000; }

/* .footer { padding: 8px 0; text-align: center; font-size: 12px; color: #aaaaaa; background: #797979; } */